// transfer these general fnt rules to another component

@import "common/foundation/mixins";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;700&display=swap");

:root {
  --font-family: "Roboto Slab", sans-serif;
  --heading-font-family: "Roboto Slab", sans-serif;
}

body {
  font-family: "Roboto Slab", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}



$max-width: 850px;
* {
  margin: 0;
  padding: 0;
}

// card nav section and wrapper for the container of cards
.card-nav {
  z-index: 0;
  position: relative;
  .wrap::after,
  .wrap::before {
    display: none;
    content: "";
  }
}

// container for cards, card and card content
.nav-cards {
  padding: 30px 0px;
  display: grid;
  grid-template-columns: 1fr;
  .nav-card {
    box-shadow: 0px 0px 8px #d2d5d9;
    padding: 20px;
    padding-bottom: 40px;
    min-height: 100px;
    margin-bottom: 20px;
    font-size: 18px;
    color: var(--tertiary);
    text-decoration: none;
    vertical-align: text-top;
    position: relative;
    border: 1px solid #d8dadd;
    transition: all 0.3s ease;
    border-radius: 3px;
    &:active,
    &:hover {
      border: 1px solid var(--tertiary-hover);
      box-shadow: 0px 0px 5px #d2d5d9;
    }
    &:hover .nav-link,
    &:focus .nav-link,
    &:active .nav-link,
    &:hover h3,
    &:focus h3,
    &:active h3 {
      color: var(--tertiary-hover);
      text-decoration: none;
    }
    p {
      font-size: 15px;
      line-height: 1.5;
      color: var(--primary-high);
      margin-bottom: auto;
      padding-bottom: 26px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .nav-link {
      position: absolute;
      bottom: 26px;
      font-weight: 500;
      padding: 0;
      border: none;
      font-size: 15px;
      &::after {
        content: "\2192";
        font-family: "icomoon";
        font-size: 16px;
        font-weight: 900;
        margin-left: 6px;
        font-size: 15px;
      }
    }
  }
}

.card-hidden {
  display: none;
}

.category-list {
  display: none;
}

.category-toggle {
  transition: 250ms ease-in-out;
  white-space: nowrap;
  border: solid 1px var(--tertiary);
  background-color: transparent;
  color: var(--tertiary);
  max-width: 156px;
  padding: 0.5rem 0;
  width: 100%;
  border-radius: 5px;
  display: block;
  text-align: center;
  margin: auto;
  grid-column: 1 / -1;
  margin-top: 2rem;
  &:hover {
    border-color: var(--tertiary-hover);
    color: var(--tertiary-hover);
  }
}

// two cards on one line
@media screen and (min-width: 800px) {
  .nav-cards {
    grid-template-columns: 1fr 1fr;
    .nav-card {
      // guarantees that card with 
      // less content than the others
      // do not get too small vertically
      min-height: 135px;
      &:nth-child(odd) {
        margin-right: 5%;
      }
      .nav-link {
        bottom: 36px;
      }
    }
  }
}

// four cards on one line
@media screen and (min-width: 1200px) {
  .nav-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .nav-card {
      min-height: 175px;
      &:not(:last-child) {
        margin-right: 7%;
      }
      .nav-link {
        position: absolute;
        bottom: 52px;
      }
    }
  }
}
