{% comment %} {{#if shouldDisplay}} {% endcomment %}
<section class="nav-cards wrap custom-container">
        {{#each categories as |category|}}
            {{category-card-custom category=category}}
        {{/each}}
</section>  
{% comment %} {{/if}} {% endcomment %}