<a href={{html-safe (theme-i18n "category.url")}} class="nav-card">
  <span class="icon"></span>
  <h3>{{html-safe (theme-i18n "category.name")}}</h3>
  <p></p>
  <b class="nav-link">Learn more</b>
</a>