{{#if shouldDisplay}}
<section class="nav-cards wrap custom-container">
    {{#if onCategories}}
        {{#each categoies as |category|}}
            {{category-card-custom category=category}}
        {{/each}}
    {{else}}
        {{#each categories as |navItem|}}
            {{navigation-card-custom navItem=navItem}}
        {{/each}}
    {{/if}}
</section>  
{{/if}}